streamlit
pymupdf
lxml
pytesseract
Pillow
opencv-python
camelot-py[cv]
tabula-py
pandas
numpy


Running command:


    Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass
    . .\.venv\Scripts\Activate
    streamlit run app.py